*{
  margin:0;
  padding: 0;
}
body{
  width: 100vw;
  height: auto;
  background: linear-gradient(20deg, rgb(216, 39, 68),rgb(109, 109, 254),rgb(22, 238, 37));
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  width: 100%;
  height: 10rem;
  background-image: url("./banner.jpg");
  background-size: contain;
}